@inherits LayoutComponentBase

<div class="page">
    <header class="navbar">
        <a href="/" class="navbar-brand">Blaze4</a>
    </header>

    <div class="container">
        <article class="main-content">
            @Body
        </article>
    </div>

    <footer class="footer">
        <p>&copy; 2025 Blaze4. All Rights Reserved.</p>
    </footer>
</div>
